@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@import "tailwindcss";

/* Add custom scrollbar styles */
@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }

  .scrollbar-fade {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Firefox */
  }
  .scrollbar-fade::-webkit-scrollbar {
    width: 8px; /* Chrome, Safari, and Edge */
  }
  .scrollbar-fade::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Scrollbar thumb color */
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Fade effect */
  }
  .scrollbar-fade::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
  }
  .scrollbar-fade::-webkit-scrollbar-track {
    background: transparent; /* Scrollbar track color */
  }
}

@theme {
  /* Define your theme styles here */
  --font-sans: "InterVariable", sans-serif;
  --font-stretch-semi-expandedd: font-stretch: 200% /* Semi-expanded value */;
}
