@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {


    /* MapLibre */
    .maplibregl-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.maplibregl-popup-tip {
  display: none !important;
}
.maplibregl-popup {
  background: transparent !important;
  box-shadow: none !important;
}

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0px;
}

.scrollbar-hidden::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

  .scrollbar-fade {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Firefox */
    scrollbar-gutter: auto;
  }
  .scrollbar-fade::-webkit-scrollbar {
    width: 8px; /* Chrome, and Edge */
  }
  .scrollbar-fade::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Scrollbar thumb color */
    border-radius: 4px;
    -webkit-box-shadow: none;
    transition: background-color 0.3s ease; /* Fade effect */
  }

  .scrollbar-fade::-webkit-scrollbar-thumb:window-inactive {
    background: red;
  }
  .scrollbar-fade::-webkit-scrollbar-thumb:hover {
    background-color: rgba(203, 42, 42, 0.7); /* Darker on hover */
  }
  .scrollbar-fade::-webkit-scrollbar-track {
    background: transparent; /* Scrollbar track color */
  }

  :root {
  --radius: 0.75rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.5099 0.251 274.36);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.5099 0.251 274.36);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.5099 0.251 274.36);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.5099 0.251 274.36);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.5099 0.251 274.36);
  --primary-foreground: oklch(0.393 0.095 152.535);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.527 0.154 150.069);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.5099 0.251 274.36);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.5099 0.251 274.36);
  --sidebar-primary-foreground: oklch(0.393 0.095 152.535);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.527 0.154 150.069);
}
}

@theme {

     /*https://www.realtimecolors.com/?colors=0a0b10-e7e8f3-3248c3-909ad5-33439e&fonts=Inter-Inter*/

    --color-text-50: oklch(0.9558 0.007 277.16);
    --color-text-100: oklch(0.9139 0.012 276.09);
    --color-text-200: oklch(0.8234 0.028 276.76);
    --color-text-300: oklch(0.7333 0.042 276.09);
    --color-text-400: oklch(0.6387 0.059 276.67);
    --color-text-500: oklch(0.5433 0.078 274.69);
    --color-text-600: oklch(0.4638 0.064 275.80);
    --color-text-700: oklch(0.3827 0.050 274.80);
    --color-text-800: oklch(0.2946 0.037 275.20);
    --color-text-900: oklch(0.2024 0.018 274.90);
    --color-text-950: oklch(0.1509 0.011 276.17);

    --color-background-50: oklch(0.9534 0.009 279.69);
    --color-background-100: oklch(0.9046 0.022 283.10);
    --color-background-200: oklch(0.8092 0.044 281.00);
    --color-background-300: oklch(0.7096 0.069 280.70);
    --color-background-400: oklch(0.6101 0.094 278.98);
    --color-background-500: oklch(0.5072 0.123 277.22);
    --color-background-600: oklch(0.4351 0.102 277.13);
    --color-background-700: oklch(0.3577 0.081 277.81);
    --color-background-800: oklch(0.2782 0.057 277.82);
    --color-background-900: oklch(0.1901 0.032 280.11);
    --color-background-950: oklch(0.1442 0.017 284.01);

    --color-primary-50: oklch(0.9484 0.018 279.06);
    --color-primary-100: oklch(0.8956 0.036 277.01);
    --color-primary-200: oklch(0.7902 0.073 276.80);
    --color-primary-300: oklch(0.6837 0.115 275.10);
    --color-primary-400: oklch(0.5785 0.156 273.04);
    --color-primary-500: oklch(0.4794 0.199 269.32);
    --color-primary-600: oklch(0.4101 0.165 269.73);
    --color-primary-700: oklch(0.3383 0.132 269.92);
    --color-primary-800: oklch(0.2623 0.094 270.91);
    --color-primary-900: oklch(0.1812 0.053 271.90);
    --color-primary-950: oklch(0.1343 0.030 273.10);

    --color-secondary-50: oklch(0.9512 0.013 281.56);
    --color-secondary-100: oklch(0.9013 0.027 279.04);
    --color-secondary-200: oklch(0.8027 0.056 277.08);
    --color-secondary-300: oklch(0.7006 0.087 276.49);
    --color-secondary-400: oklch(0.5995 0.120 274.52);
    --color-secondary-500: oklch(0.4973 0.155 272.16);
    --color-secondary-600: oklch(0.4266 0.128 272.19);
    --color-secondary-700: oklch(0.3506 0.102 272.81);
    --color-secondary-800: oklch(0.2728 0.072 273.05);
    --color-secondary-900: oklch(0.1866 0.041 275.28);
    --color-secondary-950: oklch(0.1424 0.020 272.73);

    --color-accent-50: oklch(0.9508 0.015 277.85);
    --color-accent-100: oklch(0.8984 0.032 277.90);
    --color-accent-200: oklch(0.7976 0.063 276.81);
    --color-accent-300: oklch(0.6931 0.100 275.71);
    --color-accent-400: oklch(0.5907 0.135 273.79);
    --color-accent-500: oklch(0.4890 0.174 270.79);
    --color-accent-600: oklch(0.4193 0.144 271.05);
    --color-accent-700: oklch(0.3448 0.115 271.37);
    --color-accent-800: oklch(0.2683 0.081 272.05);
    --color-accent-900: oklch(0.1838 0.047 273.47);
    --color-accent-950: oklch(0.1385 0.025 273.24);


  }

.dark {
    --color-text-50: oklch(0.1509 0.011 276.17);
    --color-text-100: oklch(0.2024 0.018 274.90);
    --color-text-200: oklch(0.2946 0.037 275.20);
    --color-text-300: oklch(0.3827 0.050 274.80);
    --color-text-400: oklch(0.4638 0.064 275.80);
    --color-text-500: oklch(0.5433 0.078 274.69);
    --color-text-600: oklch(0.6387 0.059 276.67);
    --color-text-700: oklch(0.7333 0.042 276.09);
    --color-text-800: oklch(0.8234 0.028 276.76);
    --color-text-900: oklch(0.9139 0.012 276.09);
    --color-text-950: oklch(0.9558 0.007 277.16);

    --color-background-50: oklch(0.1442 0.017 284.01);
    --color-background-100: oklch(0.1901 0.032 280.11);
    --color-background-200: oklch(0.2782 0.057 277.82);
    --color-background-300: oklch(0.3577 0.081 277.81);
    --color-background-400: oklch(0.4351 0.102 277.13);
    --color-background-500: oklch(0.5072 0.123 277.22);
    --color-background-600: oklch(0.6101 0.094 278.98);
    --color-background-700: oklch(0.7096 0.069 280.70);
    --color-background-800: oklch(0.8092 0.044 281.00);
    --color-background-900: oklch(0.9046 0.022 283.10);
    --color-background-950: oklch(0.9534 0.009 279.69);

    --color-primary-50: oklch(0.1343 0.030 273.10);
    --color-primary-100: oklch(0.1812 0.053 271.90);
    --color-primary-200: oklch(0.2623 0.094 270.91);
    --color-primary-300: oklch(0.3383 0.132 269.92);
    --color-primary-400: oklch(0.4101 0.165 269.73);
    --color-primary-500: oklch(0.4794 0.199 269.32);
    --color-primary-600: oklch(0.5785 0.156 273.04);
    --color-primary-700: oklch(0.6837 0.115 275.10);
    --color-primary-800: oklch(0.7902 0.073 276.80);
    --color-primary-900: oklch(0.8956 0.036 277.01);
    --color-primary-950: oklch(0.9484 0.018 279.06);

    --color-secondary-50: oklch(0.1424 0.020 272.73);
    --color-secondary-100: oklch(0.1866 0.041 275.28);
    --color-secondary-200: oklch(0.2728 0.072 273.05);
    --color-secondary-300: oklch(0.3506 0.102 272.81);
    --color-secondary-400: oklch(0.4266 0.128 272.19);
    --color-secondary-500: oklch(0.4973 0.155 272.16);
    --color-secondary-600: oklch(0.5995 0.120 274.52);
    --color-secondary-700: oklch(0.7006 0.087 276.49);
    --color-secondary-800: oklch(0.8027 0.056 277.08);
    --color-secondary-900: oklch(0.9013 0.027 279.04);
    --color-secondary-950: oklch(0.9512 0.013 281.56);

    --color-accent-50: oklch(0.1385 0.025 273.24);
    --color-accent-100: oklch(0.1838 0.047 273.47);
    --color-accent-200: oklch(0.2683 0.081 272.05);
    --color-accent-300: oklch(0.3448 0.115 271.37);
    --color-accent-400: oklch(0.4193 0.144 271.05);
    --color-accent-500: oklch(0.4890 0.174 270.79);
    --color-accent-600: oklch(0.5907 0.135 273.79);
    --color-accent-700: oklch(0.6931 0.100 275.71);
    --color-accent-800: oklch(0.7976 0.063 276.81);
    --color-accent-900: oklch(0.8984 0.032 277.90);
    --color-accent-950: oklch(0.9508 0.015 277.85);

  }

  

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  /* Define your theme styles here */
  --font-sans: "InterVariable", sans-serif;
  --font-stretch-semi-expandedd: font-stretch: 200% /* Semi-expanded value */;
}


