@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0px;
}

.scrollbar-hidden::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

  .scrollbar-fade {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Firefox */
    scrollbar-gutter: auto;
  }
  .scrollbar-fade::-webkit-scrollbar {
    width: 8px; /* Chrome, and Edge */
  }
  .scrollbar-fade::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Scrollbar thumb color */
    border-radius: 4px;
    -webkit-box-shadow: none;
    transition: background-color 0.3s ease; /* Fade effect */
  }

  .scrollbar-fade::-webkit-scrollbar-thumb:window-inactive {
    background: red;
  }
  .scrollbar-fade::-webkit-scrollbar-thumb:hover {
    background-color: rgba(203, 42, 42, 0.7); /* Darker on hover */
  }
  .scrollbar-fade::-webkit-scrollbar-track {
    background: transparent; /* Scrollbar track color */
  }
}

@theme {

     /*  --color-*: initial; */

    --color-text-50: oklch(0.9490 0.013 286.14);
    --color-text-100: oklch(0.9002 0.026 285.87);
    --color-text-200: oklch(0.7983 0.053 285.13);
    --color-text-300: oklch(0.6921 0.086 283.92);
    --color-text-400: oklch(0.5866 0.118 282.14);
    --color-text-500: oklch(0.4813 0.151 279.12);
    --color-text-600: oklch(0.4121 0.126 279.32);
    --color-text-700: oklch(0.3399 0.100 279.63);
    --color-text-800: oklch(0.2660 0.069 280.61);
    --color-text-900: oklch(0.1844 0.038 281.97);
    --color-text-950: oklch(0.1404 0.022 283.20);
    
    --color-background-50: oklch(0.9469 0.017 286.06);
    --color-background-100: oklch(0.8930 0.034 285.69);
    --color-background-200: oklch(0.7844 0.072 284.61);
    --color-background-300: oklch(0.6714 0.113 282.93);
    --color-background-400: oklch(0.5614 0.154 280.23);
    --color-background-500: oklch(0.4565 0.193 275.59);
    --color-background-600: oklch(0.3910 0.162 275.91);
    --color-background-700: oklch(0.3227 0.129 276.41);
    --color-background-800: oklch(0.2507 0.093 277.28);
    --color-background-900: oklch(0.1761 0.050 279.92);
    --color-background-950: oklch(0.1312 0.030 281.49);
    
    --color-primary-50: oklch(0.9353 0.030 287.90);
    --color-primary-100: oklch(0.8723 0.059 286.17);
    --color-primary-200: oklch(0.7431 0.126 284.46);
    --color-primary-300: oklch(0.6194 0.191 280.64);
    --color-primary-400: oklch(0.5099 0.251 274.36);
    --color-primary-500: oklch(0.4395 0.288 266.49);
    --color-primary-600: oklch(0.3741 0.243 266.89);
    --color-primary-700: oklch(0.3054 0.194 267.63);
    --color-primary-800: oklch(0.2339 0.142 269.13);
    --color-primary-900: oklch(0.1564 0.084 272.62);
    --color-primary-950: oklch(0.1140 0.053 277.63);
    
    --color-secondary-50: oklch(0.9782 0.020 94.52);
    --color-secondary-100: oklch(0.9544 0.040 93.21);
    --color-secondary-200: oklch(0.9122 0.080 94.39);
    --color-secondary-300: oklch(0.8696 0.115 93.87);
    --color-secondary-400: oklch(0.8310 0.142 93.32);
    --color-secondary-500: oklch(0.7914 0.156 91.17);
    --color-secondary-600: oklch(0.6726 0.132 91.25);
    --color-secondary-700: oklch(0.5449 0.106 91.12);
    --color-secondary-800: oklch(0.4117 0.078 92.08);
    --color-secondary-900: oklch(0.2637 0.047 92.13);
    --color-secondary-950: oklch(0.1824 0.030 96.35);
    
    --color-accent-50: oklch(0.9305 0.035 287.46);
    --color-accent-100: oklch(0.8637 0.070 286.62);
    --color-accent-200: oklch(0.7281 0.146 283.49);
    --color-accent-300: oklch(0.6015 0.220 278.91);
    --color-accent-400: oklch(0.5006 0.281 271.32);
    --color-accent-500: oklch(0.4531 0.312 264.58);
    --color-accent-600: oklch(0.3834 0.264 264.81);
    --color-accent-700: oklch(0.3102 0.213 265.08);
    --color-accent-800: oklch(0.2322 0.159 265.52);
    --color-accent-900: oklch(0.1478 0.099 267.86);
    --color-accent-950: oklch(0.1012 0.066 269.98);
    
  
  







    --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);

  --sidebar-background: 0 0% 98%;
    
  }
  


/* .dark {
    --text-50: 14.04%, 0.022, 283.20;
    --text-100: 18.15%, 0.042, 281.33;
    --text-200: 26.36%, 0.073, 280.17;
    --text-300: 33.77%, 0.104, 279.30;
    --text-400: 40.82%, 0.132, 278.79;
    --text-500: 47.83%, 0.158, 278.61;
    --text-600: 58.22%, 0.124, 281.85;
    --text-700: 68.97%, 0.089, 283.82;
    --text-800: 79.59%, 0.056, 285.05;
    --text-900: 89.78%, 0.029, 285.81;
    --text-950: 94.90%, 0.013, 286.14;
    
    --background-50: 13.56%, 0.025, 282.60;
    --background-100: 17.88%, 0.046, 280.64;
    --background-200: 25.68%, 0.083, 278.78;
    --background-300: 32.98%, 0.116, 277.90;
    --background-400: 39.90%, 0.147, 277.39;
    --background-500: 46.55%, 0.177, 277.06;
    --background-600: 57.16%, 0.139, 281.07;
    --background-700: 68.05%, 0.101, 283.39;
    --background-800: 78.88%, 0.065, 284.81;
    --background-900: 89.54%, 0.031, 285.75;
    --background-950: 94.93%, 0.015, 286.12;
    
    --primary-50: 11.40%, 0.053, 277.63;
    --primary-100: 15.64%, 0.084, 272.62;
    --primary-200: 23.39%, 0.142, 269.13;
    --primary-300: 30.54%, 0.194, 267.63;
    --primary-400: 37.41%, 0.243, 266.89;
    --primary-500: 43.95%, 0.288, 266.49;
    --primary-600: 50.99%, 0.251, 274.36;
    --primary-700: 61.94%, 0.191, 280.64;
    --primary-800: 74.31%, 0.126, 284.46;
    --primary-900: 87.23%, 0.059, 286.17;
    --primary-950: 93.53%, 0.030, 287.90;
    
    --secondary-50: 18.24%, 0.030, 96.35;
    --secondary-100: 26.37%, 0.047, 92.13;
    --secondary-200: 41.17%, 0.078, 92.08;
    --secondary-300: 54.49%, 0.106, 91.12;
    --secondary-400: 67.26%, 0.132, 91.25;
    --secondary-500: 79.14%, 0.156, 91.17;
    --secondary-600: 83.10%, 0.142, 93.32;
    --secondary-700: 86.96%, 0.115, 93.87;
    --secondary-800: 91.22%, 0.080, 94.39;
    --secondary-900: 95.44%, 0.040, 93.21;
    --secondary-950: 97.82%, 0.020, 94.52;
    
    --accent-50: 10.12%, 0.066, 269.98;
    --accent-100: 14.78%, 0.099, 267.86;
    --accent-200: 23.22%, 0.159, 265.52;
    --accent-300: 31.02%, 0.213, 265.08;
    --accent-400: 38.34%, 0.264, 264.81;
    --accent-500: 45.31%, 0.312, 264.58;
    --accent-600: 50.06%, 0.281, 271.32;
    --accent-700: 60.15%, 0.220, 278.91;
    --accent-800: 72.81%, 0.146, 283.49;
    --accent-900: 86.37%, 0.070, 286.62;
    --accent-950: 93.05%, 0.035, 287.46;
    
  }
    
  } */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  /* Define your theme styles here */
  --font-sans: "InterVariable", sans-serif;
  --font-stretch-semi-expandedd: font-stretch: 200% /* Semi-expanded value */;
}